
    <div class="description">
        <h2>¿Qué es el Análisis de Sentimiento?</h2>
        <div class="text">
            <p>
                El análisis de sentimiento, también conocido como minería de opinión (opinion mining), es un término muy discutido pero a menudo incomprendido.
                Cuando se habla del análisis de sentimiento, se refiere a diferentes métodos que ayudan a poder identificar y extraer información del mundo digital, el cual, esto permitirá determinar si un texto posee connotaciones positivas, negativas o neutral. Asimismo, el análisis de sentimientos es de gran ayuda para las empresas, ya que permiten controlar la reputación de sus marcas en las redes sociales, obteniendo información de los comentarios realizados por los clientes.
            </p>
            
        </div>
        
    
    </div>


<p>description works!</p>
