.description{
    position: absolute;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    color: white;
    h2{
        color: #5CE5CA;
        text-align: center;
    }

.text{
    padding-left: 30%;
    padding-right: 30%;
}



}
