@import '_colors';

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: $fugaz;
  text-align: center;
}

.transparente {
  height: 500px;
}
.pie-pagina {
    width: 100%;
    background-color: $secundario;
  
    .caja0 {
      width: 90%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 45px 0px;
  
      .caja {
        h2 {
          color: $titulo;
          margin-bottom: 25px;
          font-size: 20px;
        }
  
        p {
          color: $texto;
          margin-bottom: 25px;
        }
  
        a {
          display: inline-block;
          text-decoration: none;
          width: 45px;
          height: 45px;
          line-height: 10px;
          color: $emisivo;
          margin-right: 10px;
          background-color: #0d2033;
          transition: all 300ms ease;
        }
      }
    }
  }