<footer>
  <div class="transparente"></div>
  <div class="pie-pagina">
    <div class="caja0">
      <div class="caja">
        <h1>Logo</h1>
      </div>
      <div class="caja">
        <h2>Descripción</h2>
        <p>Hola holi whis, Hola holi whis, Hola holi whis</p>
        <p>Hola holi whis, Hola holi whis, Hola holi whis</p>
      </div>
      <div class="caja">
        <h2>Fuentes de información</h2>
        <a href="https://www.tripadvisor.es/" target="_blank">Logo Tripadvaisor</a>
        <a href="https://www.tripadvisor.es/" target="_blank">Logo OcioYa</a>
      </div>
    </div>
  </div>
  </footer>