<footer>
  <div class="info" style="background-color: #000000;">
    <div class="container">
      <div class="row">
        <div class="logo col-md-3 col-sm-6">
          <h1><img src="/assets/logo-white.png" alt="logo"></h1>
          <p>Proyecto de obtención de información y clasificación de municipios españoles.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h1>Repositorios</h1>
          <p><a href="https://github.com/AlvaroMartinezSilva/Proyectocomputacion2y3" target="_blank">Front-end</a></p>
          <p><a href="https://github.com/AlvaroMartinezSilva/Flaskcheckpoint-PC2" target="_blank">Repositorio API</a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h1>Contacto</h1>
          <p><a href="#">merle6665@gmail.com</a></p>
          <p><a href="#">Correo2</a></p>
          <p><a href="#">Correo3</a></p>
          <p><a href="#">Correo4</a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h1>Linkedin</h1>
          <p><a href="#" target="_blank">David Merle</a></p>
          <p><a href="#" target="_blank">Alvaro</a></p>
          <p><a href="#" target="_blank">Jorge</a></p>
          <p><a href="#" target="_blank">Aitor</a></p>
          <p><a href="#" target="_blank">Nicole</a></p>
        </div>
      </div>
      <div class="row">
        <p>© 2021 Infopueblo. Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>