/*Link a la paleta https://coolors.co/fff8f0-ff8811-f4d06f-faac40-43aa8b-897c80*/

$principal: #FFF8F0;
$secundario: #FF8811;
$terciario: #F4D06F;
$acento: #FAAC40;
$emisivo: #43AA8B;
$fugaz: #897C80;
$titulo: #000000;
$texto: #ffffff;