@import '_colors';

body{
  background-color: $principal;
}

.tituloSentimiento{
color:white;

}
.container{

padding-top: 5%;
padding-bottom: 5%;
position: absolute;
padding-left: 7%;
}
.btn{
  margin-top: 3%;
  float: right;
}

