<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
      <h1 class="navbar-brand">Flask</h1>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Flaskcheckpoint-PC2\Flaskcheckpoint\src\app\components\welcome\welcome.component.html">Welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Flaskcheckpoint-PC2\Flaskcheckpoint\src\app\components\analisis-sentimientos\analisis-sentimientos.component.html">Sentiment Analysis</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
